# Backstage
shipyard/node_modules/
shipyard/.yarn/cache/
shipyard/dist/
shipyard/.env

# Secrets
*.env
aws-creds.txt
/tmp/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
